<div class="form">
  <%= form_for @product do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :author %>
      <%= f.text_field :author, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_field :description, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :price %>
      <%= f.number_field :price, class: "form-control" %>
    </div>
    <div class="form-group">
        <%= f.label :quantity %>
        <%= f.number_field :quantity, class: 'form-control' %>
    </div>
    <div class="form-group">
        <%= f.label :discount %>
        <%= f.number_field :discount, class: 'form-control' %>
    </div>
    <div class="form-group">
        <%= f.label :discount_end %>
        <%= f.date_field :discount_end, class: 'form-control' %>
    </div>
    <%= f.submit "Save", class: "btn btn-primary" %>
  <% end %>
</div>
