
<% if current_user && current_user.admin? %>
  <h4><%= link_to "Add a Book", new_product_path, id: "new_product_link", remote: true %></h4>
<% end %>

<% if @featured.any? %>
  <h1>Featured</h1>
  <% @featured.each do |product| %>
    <div class="product-feature">
      <h3><%= link_to product.name, product_path(product) %></h3>
    </div>
  <% end %>
<% end %>

<% if @discounted.any? %>
  <h1>On Sale</h1>
  <% @discounted.each do |product| %>
    <div class="product-sale">
      <h3><%= link_to product.name, product_path(product) %></h3>
      <h5 class="text-success">On sale until: <%= product.discount_end.strftime("%B %-d, %Y") %></h5>
    </div>
  <% end %>
<% end %>

<h1>All Books</h1>
<% if @products.any? %>
  <% @products.each do |product| %>
    <div class="product" id="product-<%= product.id %>">
      <h3><%= link_to product.name, product_path(product), id: "show_product_#{product.id}", remote: true %></h3>
      <% if product.quantity < 1 %>
        <h5 class="text-danger">Sold Out!</h5>
      <% end %>
      <%= link_to 'Hide', products_path, class: "hidelink", id: "hide_details_#{product.id}", remote: true %>
    </div>
  <% end %>
<% else %>
  <h3>There are no saved books.</h3>
<% end %>
