<% if @product.featured %>
  <h5 class="text-success">Featured Title!</h5>
<% end %>
<h1><%= @product.name %></h1>
<h4>By <%= @product.author %></h4>
<h3>$<%= @product.get_price %></h3>

<% if @product.low_stock? %>
  <h5 class="text-danger">Low Stock! Only <%= @product.quantity %> remaining!</h5>
<% end %>

<div class="user-product-options">
  <%= form_for @order_item do |f| %>
    <%= f.hidden_field :product_id, value: @product.id %>
    <%= f.hidden_field :order_type, value: "Cart" %>
    <%= f.number_field :quantity, { value: 1, max: @product.quantity, min: 1, class: 'form-control quantity'} %>
    <%= f.submit "Add to cart", class: "btn btn-default" %>
  <% end %>

  <%= form_for @order_item do |f| %>
    <%= f.hidden_field :product_id, value: @product.id %>
    <%= f.hidden_field :quantity, value: 1 %>
    <%= f.hidden_field :order_type, value: "Raincheck" %>
    <%= f.submit "Raincheck", class: "btn btn-default" %>
  <% end %>
</div>

<p><%= @product.description %></p>

<% if current_user && current_user.admin? %>
  <hr>
  <p>
    <% if !@product.featured %>
      <%= link_to "Feature", product_path(product: { id: @product.id, featured: true}), data: { method: "patch" } %> |
    <% else %>
      <%= link_to "End Feature", product_path(product: { id: @product.id, featured: false}), data: { method: "patch" } %> |
    <% end %>
    <%= link_to "Edit", edit_product_path(@product) %> |
    <%= link_to "Delete", product_path(@product), data: {
              confirm: "This will shoot the book into a black hole. Are you sure?",
              method: "delete"
              } %>
  </p>
<% end %>
